@page
@model OdeToFood.Pages.Restaurants.ClientRestaurantsModel
@{
    ViewData["Title"] = "ClientRestaurants";
}

    <h1>Restaurants (<a href="https://datatables.net/">Using DataTables</a>)</h1>

<table class="table" id="restaurants">
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Cuisine</th>
            <th></th>
        </tr>
    </thead>
</table>

@section Scripts
{
    <environment include="Development">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.css" />
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.css" />
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.js"></script>
    </environment>

    <script>
        var cuisines = ["Unknown", "Mexican", "Italian", "Chinese", "Indian"]
        $(function () {
            $.ajax("/api/restaurants/", { method: "get" })
                .then(function (response) {
                    console.dir(response);

                    $("#restaurants").dataTable({
                        data: response,
                        columns: [
                            { "data": "name" },
                            { "data": "location" },
                            {
                                "data": "cuisine", "render": function (data) {
                                    return cuisines[data];
                                }
                            },
                            {
                            "data": "id",
                            "render": function (data) {
                                return `<div class = "text-center"> 
                                            <a href="/restaurants/details/${data}"
                                                class="btn btn-primary text-white">
                                                Details
                                            </a>
                                            <a href="/restaurants/edit/${data}"
                                                class="btn btn-success text-white">
                                                Edit
                                            </a>
                                            <a href="/restaurants/delete/${data}"
                                                class="btn btn-danger text-white">
                                                Delete
                                            </a>
                                        </div>`;
                                }
                            }
                            ]
                        });
                    });
            });
    </script>
}

